<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <span id="welcome-message">
      <h1>Welcome to Chitter</h1>
    </span>
      <%= partial :peeps %>
     <%= partial :"peeps/new" %>
  </body>
</html>
  




