<h1>Welcome to Chitter</h1>

Peeps:
  <ul>
    <% @peeps.each do |peep| %>
      <li> <p>Date: <%= peep.timestamp.strftime("%d %b %y %T") if peep.timestamp != nil%></p>
           <p>User:<%= peep.user.username%>
           <p>Peep: <%= peep.text%> </li></p>
    <% end %>
  </ul>

